/* stylelint-disable scss/dollar-variable-pattern */

$white: #fff;
$background: #d2e2f3;
$grey: #c9cfe3;
$primary: #1d2951;
$primary-disabled: #b5f5ff;
$primary-border: #b5f5ff;
$grey_border: #dfdfdf;
$error: #e96062;
$dark: #211b3e;
$border: #c9cfe3;
$border-active: #6f8ef5;
$transparent: rgba(0, 0, 0, 0);
$blue: #2662d1;
$blue-disabled: #88a4da;
